In [ ]:
#hiddencell
from pbl_tools import *

# 데이스쿨 주피터 노트북 사용법

<img src="https://r2-images.dacon.work/project/158/content/charater+shift+enter.png">

현재 Cell 에서 shift 누른 상태에서 enter 키를 누르면 현재 Cell 실행후 다음 Cell로 이동합니다.

# 영화 관객 수 예측 프로젝트

![movie_inner](https://user-images.githubusercontent.com/75363345/220539870-23221483-209a-4f46-b468-3561ae9b95cd.png)

# 1. 소개

쇼핑몰을 걷다가 강렬한 팝콘 냄새에 이끌린 적 있으신가요?  
냄새를 따라가다 보면 새로운 세계가 펼쳐지는 장소에 도착하게 되죠!

그렇습니다, 바로 영화관입니다.  
영화관에선 그야말로 오감으로 이야기를 느낄 수 있는데요!


그럼 관객들에게 바로 그 이야기를 선보이는 입장은 어떨까요?  
시간과 노력을 쏟은 모두가 영화의 성공을 바라며 떨리는 마음으로 개봉을 기다리겠죠?

‘일이 잘되고 못되는 것은 하늘에 달린 것’이라는 말도 있지만,  
만약 영화를 상영관에 올리기 전. 아니, 만들기도 전에 흥행 여부를 점칠 수 있다면 어떨까요?

# 2. 목적

이번 프로젝트에선 회귀 모델을 사용해 영화의 관객 수를 예측해 볼 것입니다.  
이 과정에서 데이터를 이해하고, 분석 목표에 따라 처리하는 과정을 배워 나갈 수 있습니다.  
차근차근 프로젝트를 진행하다 보면, 데이콘의 문제 기반 학습에도 점차 익숙해질 거예요!

# 스테이지 1

# 1. 데이터 분석을 위한 pandas 라이브러리(Library) import 
[문제 1]  
pandas 라이브러리(Library)를 import 하기 위해서 아래 빈칸을 채워 주세요.  
pandas는 자주 사용하는 라이브러리(Library)이므로 축약어인 pd로 불러와 주세요.

In [ ]:
import ___ as pd

In [ ]:
#checkcode
def check(user_answer_pandas=pd):
    if hasattr(user_answer_pandas, 'read_csv'):
        return True
    else:
        return False
check()

True

# 2.train.csv 파일을 pandas를 이용해 데이터프레임으로 읽어오기

[문제 2]  
train.csv 파일을 데이터프레임(DataFrame)으로 읽어오기 위해 `read_csv()` 함수를 사용해 보세요.

In [ ]:
train = pd.___('train.csv')
train

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387
...,...,...,...,...,...,...,...,...,...,...,...,...
595,해무,(주)NEW,드라마,2014-08-13,111,청소년 관람불가,심성보,3833.00,1,510,7,1475091
596,파파로티,(주)쇼박스,드라마,2013-03-14,127,15세 관람가,윤종찬,496061.00,1,286,6,1716438
597,살인의 강,(주)마운틴픽쳐스,공포,2010-09-30,99,청소년 관람불가,김대현,NaN,0,123,4,2475
598,악의 연대기,CJ 엔터테인먼트,느와르,2015-05-14,102,15세 관람가,백운학,NaN,0,431,4,2192525
599,베를린,CJ 엔터테인먼트,액션,2013-01-30,120,15세 관람가,류승완,NaN,0,363,5,7166532

In [ ]:
#checkcode
ensure_vals(globals(), 'train')
@check_safety
def check(user_answer_train=train):
    c_point0 = hasattr(user_answer_train, 'tail')

    if c_point0 :
        return True
    else:
        return False

check()

# 3.test.csv, sample_submission.csv 파일을 pandas를 이용해 데이터프레임으로 읽어오기
[문제 3]  
train 데이터를 읽어왔으므로, 이제 pandas를 사용하여 test.csv와 sample_submission.csv 파일을   
각각 test와 submission이라는 이름의 데이터프레임(DataFrama)으로 불러와 봅시다.  
아래 빈칸을 채워주세요.

In [ ]:
test = pd.___('test.csv')
submission = pd.___('sample_submission.csv')

In [ ]:
#checkcode
ensure_vals(globals(), 'test', 'submission')
@check_safety
def check(user_answer_test=test, 
          user_answer_submission=submission):
    
    c_point0 = hasattr(user_answer_test, 'tail')
    c_point1 = hasattr(user_answer_submission, 'head')

    if c_point0 and c_point1:
        return True
    else:
        return False

check()

True

# 4.데이터프레임(DataFrame)의 상위 5개 행(row) 데이터 출력하기  
[문제 4]  
pandas의 `head()` 메소드를 이용하여 상위 5개의 행(row) 데이터를 출력해 보세요.

In [ ]:
submission.___()

         title  box_off_num
0       용서는 없다            0
1  아빠가 여자를 좋아해            0
2          하모니            0
3          의형제            0
4        평행 이론            0

In [ ]:
#checkcode
ensure_vals(globals())
@check_safety
def check(user_answer = _, number = 5):
    c_point0 = (len(user_answer) == number)
    if c_point0:
        return True
    else:
        return False
check()

# 5. 데이터프레임(DataFrame)을 CSV 파일로 저장하기

In [ ]:
# 매개변수는 수정하지 말아주세요.
submission.to_csv('submission.csv', index=False, quoting=2, encoding="utf-8-sig", na_rep=0, float_format='%.6f')